footer
  background: $main
  color: $white
  padding: 2em 0
  background-position: center



.nav-footer
  display: flex
  justify-content: space-around
  width: 50%
  margin: 0 auto
  font-size: 1rem
  @media(min-width: 725px)
    font-size: 3rem





.social-links
  display: flex
  font-size: 2rem
  opacity: 0.9
  width: 100%


a
  text-decoration: none
  color: $text-inverse
