

.title-box
    background: $secondary
    color: white
    margin: 0 auto
    padding: 2em
    transform: translateY(30%)
    max-width: 90%
    @media (min-width: 495px)
      transform: translateY(50%)
    @media (min-width: 725px)
        max-width: 700px
.promo
  .bg-primary
    background: $main
    color: white
    padding: 8em




  .img-box
    background: url('/img/sideimage.jpg')
    background-size: cover
    background-position: center
