@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Love+Ya+Like+A+Sister");
html {
  font-family: "Love Ya Like A Sister", cursive, sans-serif, "Gloria Hallelujah", cursive, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

.grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.col {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding: 0 0 1.5em; }
  @media (min-width: 725px) {
    .col:first-of-type {
      padding-left: 0; }
    .col:last-of-type {
      padding-right: 0; }
      .col:last-of-type .col--full {
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%; } }

@media (min-width: 725px) {
  .col--1-3 {
    -webkit-flex-basis: 33.3333%;
    -ms-flex-preferred-size: 33.3333%;
    flex-basis: 33.3333%; }
  .col--2-3 {
    -webkit-flex-basis: 66.6666%;
    -ms-flex-preferred-size: 66.6666%;
    flex-basis: 66.6666%; }
  .col--1-2 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; } }

*, *::before, *::after {
  box-sizing: border-box; }
  * img, *::before img, *::after img {
    max-width: 100%;
    height: auto; }
    * img .container, *::before img .container, *::after img .container {
      width: 95%;
      max-width: 1200px;
      margin: 0 auto; }

body {
  color: black;
  text-align: center; }

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.lg-screen {
  display: none; }
  @media (min-width: 750px) {
    .lg-screen {
      display: block; } }

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 .75em; }

h1:last-child, h2:last-child, h3:last-child, h4:last-child,
h5:last-child, h6:last-child, p:last-child {
  margin: 0; }

h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 2px; }

h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1; }

p {
  font-size: 1.2rem;
  font-family: "Gloria Hallelujah", cursive, sans-serif;
  letter-spacing: 2px; }

.text-intro {
  font-family: "Gloria Hallelujah", cursive, sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  padding-bottom: 10rem; }
  .text-intro span {
    color: #8d0085;
    font-size: 3rem;
    font-family: "Love Ya Like A Sister", cursive, sans-serif;
    line-height: 2rem; }
  @media (min-width: 725px) {
    .text-intro {
      font-size: 2rem; }
      .text-intro span {
        font-size: 10rem; } }

.title-large {
  line-height: 1.1;
  padding-top: 3rem;
  font-size: 6rem;
  font-weight: 300; }
  .title-large span {
    color: #8d0085; }

.main-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 1em; }

.mylogo {
  width: 25%;
  min-width: 10rem;
  max-width: 15rem;
  padding-left: 1rem; }

.hero {
  background-image: url(/img/main.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: center;
  padding-top: 5rem;
  text-align: center;
  color: black; }

@media (min-width: 725px) {
  .title-large {
    font-size: 11rem; } }

.main-nav {
  background-color: #8d0085;
  position: absolute;
  top: 0;
  right: 0;
  left: 100%;
  font-size: 6rem;
  overflow: hidden;
  transition: all ease-in-out 300ms; }
  .main-nav ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 100vh; }
    .main-nav ul li {
      -webkit-flex-grow: 1 1 auto;
      -ms-flex-positive: 1 1 auto;
      flex-grow: 1 1 auto;
      border-bottom: 1px solid white;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .main-nav ul li a {
        color: white;
        text-decoration: none;
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .main-nav ul li a:hover {
          background: rgba(0, 0, 0, 0.1); }

.is-open {
  left: 0; }

.nav-toggle {
  display: block;
  padding: 1em;
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer; }

.hamburger, .hamburger::before, .hamburger::after {
  content: '';
  display: block;
  width: 2em;
  height: 3px;
  background: black;
  transition: all ease-in-out 500ms; }

.hamburger::before {
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px); }

.hamburger::after {
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px); }

.hamburger.is-open {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
  .hamburger.is-open::after {
    -webkit-transform: rotate(90deg) translateX(-3px);
    -ms-transform: rotate(90deg) translateX(-3px);
    transform: rotate(90deg) translateX(-3px); }
  .hamburger.is-open::before {
    opacity: 0; }

.key-points {
  padding: 10vh 0 0; }

.key-point {
  margin-bottom: 3.5em; }
  .key-point:first-of-type {
    margin-top: 1.5em; }
  .key-point:last-child {
    margin-bottom: 0; }
  .key-point:nth-child(1) {
    background: red; }
  @media (min-width: 725px) {
    .key-point:first-of-type {
      margin-top: 0; } }

.title-box {
  background: #8d0085;
  color: white;
  margin: 0 auto;
  padding: 2em;
  -webkit-transform: translateY(30%);
  -ms-transform: translateY(30%);
  transform: translateY(30%);
  max-width: 90%; }
  @media (min-width: 495px) {
    .title-box {
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%); } }
  @media (min-width: 725px) {
    .title-box {
      max-width: 700px; } }

.promo .bg-primary {
  background: black;
  color: white;
  padding: 8em; }
  @media (min-width: 495px) {
    .promo .bg-primary {
      padding-top: 8rem; } }

.promo .img-box {
  background: url("/img/sideimage.jpg");
  background-size: cover;
  background-position: center; }

footer {
  background: black;
  color: white;
  padding: 2em 0;
  background-position: center; }

.nav-footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  font-size: 1rem; }
  @media (min-width: 725px) {
    .nav-footer {
      font-size: 3rem; } }

.title-footer {
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1; }

.social-links {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 5rem;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  opacity: 0.9; }

a {
  text-decoration: none;
  color: white; }

.container--footer {
  max-width: 25em; }

.btn {
  font-family: "Gloria Hallelujah", cursive, sans-serif;
  display: inline-block;
  font-size: 1.4em;
  padding: 1em 2.5em;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: .6em;
  transition: 400ms; }

.btn--primary {
  border: 2px solid #8d0085;
  color: #8d0085; }
  .btn--primary:hover, .btn--primary:focus {
    background: #8d0085;
    color: white;
    border-color: #8d0085; }

.btn--secondary {
  border: 2px solid #8d0085;
  color: purple; }
  .btn--secondary:hover, .btn--secondary:focus {
    background: #8d0085;
    color: white;
    border-color: white; }

.CTA {
  background-image: url(/img/main.jpeg);
  background-size: cover;
  background-position: center;
  padding: 2.5em;
  position: relative; }
  @media (min-width: 725px) {
    .CTA {
      padding: 10em 0; }
      .CTA::before, .CTA::after {
        content: '';
        display: block;
        background: #8d0085;
        position: absolute;
        width: 100%;
        border: solid 1px white; }
      .CTA::before {
        top: 0;
        bottom: 0;
        -webkit-transform: skewX(45deg);
        -ms-transform: skewX(45deg);
        transform: skewX(45deg);
        left: -100%; }
      .CTA::after {
        top: 0;
        bottom: 0;
        -webkit-transform: skewX(45deg);
        -ms-transform: skewX(45deg);
        transform: skewX(45deg);
        right: -100%; } }
